
DayCounterChip/bin/Debug/0Harmony.dll
DayCounterChip/bin/Debug/0Harmony.xml
DayCounterChip/bin/Debug/Assembly-CSharp-firstpass.dll
DayCounterChip/bin/Debug/Assembly-CSharp.dll
DayCounterChip/bin/Debug/DayCounterChip.dll
DayCounterChip/bin/Debug/DayCounterChip.pdb
DayCounterChip/bin/Debug/Mono.Cecil.dll
DayCounterChip/bin/Debug/MonoMod.RuntimeDetour.dll
DayCounterChip/bin/Debug/MonoMod.RuntimeDetour.xml
DayCounterChip/bin/Debug/MonoMod.Utils.dll
DayCounterChip/bin/Debug/MonoMod.Utils.xml
DayCounterChip/bin/Debug/QModInstaller.dll
DayCounterChip/bin/Debug/QModInstaller.xml
DayCounterChip/bin/Debug/SMLHelper.dll
DayCounterChip/bin/Debug/SMLHelper.xml
DayCounterChip/bin/Debug/UnityEngine.AccessibilityModule.dll
DayCounterChip/bin/Debug/UnityEngine.AIModule.dll
DayCounterChip/bin/Debug/UnityEngine.AndroidJNIModule.dll
DayCounterChip/bin/Debug/UnityEngine.AnimationModule.dll
DayCounterChip/bin/Debug/UnityEngine.ARModule.dll
DayCounterChip/bin/Debug/UnityEngine.AssetBundleModule.dll
DayCounterChip/bin/Debug/UnityEngine.AudioModule.dll
DayCounterChip/bin/Debug/UnityEngine.ClothModule.dll
DayCounterChip/bin/Debug/UnityEngine.ClusterInputModule.dll
DayCounterChip/bin/Debug/UnityEngine.ClusterRendererModule.dll
DayCounterChip/bin/Debug/UnityEngine.CoreModule.dll
DayCounterChip/bin/Debug/UnityEngine.CrashReportingModule.dll
DayCounterChip/bin/Debug/UnityEngine.DirectorModule.dll
DayCounterChip/bin/Debug/UnityEngine.dll
DayCounterChip/bin/Debug/UnityEngine.DSPGraphModule.dll
DayCounterChip/bin/Debug/UnityEngine.GameCenterModule.dll
DayCounterChip/bin/Debug/UnityEngine.GridModule.dll
DayCounterChip/bin/Debug/UnityEngine.ImageConversionModule.dll
DayCounterChip/bin/Debug/UnityEngine.IMGUIModule.dll
DayCounterChip/bin/Debug/UnityEngine.InputLegacyModule.dll
DayCounterChip/bin/Debug/UnityEngine.InputModule.dll
DayCounterChip/bin/Debug/UnityEngine.JSONSerializeModule.dll
DayCounterChip/bin/Debug/UnityEngine.LocalizationModule.dll
DayCounterChip/bin/Debug/UnityEngine.ParticleSystemModule.dll
DayCounterChip/bin/Debug/UnityEngine.PerformanceReportingModule.dll
DayCounterChip/bin/Debug/UnityEngine.Physics2DModule.dll
DayCounterChip/bin/Debug/UnityEngine.PhysicsModule.dll
DayCounterChip/bin/Debug/UnityEngine.ScreenCaptureModule.dll
DayCounterChip/bin/Debug/UnityEngine.SharedInternalsModule.dll
DayCounterChip/bin/Debug/UnityEngine.SpriteMaskModule.dll
DayCounterChip/bin/Debug/UnityEngine.SpriteShapeModule.dll
DayCounterChip/bin/Debug/UnityEngine.StreamingModule.dll
DayCounterChip/bin/Debug/UnityEngine.TerrainModule.dll
DayCounterChip/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
DayCounterChip/bin/Debug/UnityEngine.TextCoreModule.dll
DayCounterChip/bin/Debug/UnityEngine.TextRenderingModule.dll
DayCounterChip/bin/Debug/UnityEngine.TilemapModule.dll
DayCounterChip/bin/Debug/UnityEngine.UI.dll
DayCounterChip/bin/Debug/UnityEngine.UIElementsModule.dll
DayCounterChip/bin/Debug/UnityEngine.UIModule.dll
DayCounterChip/bin/Debug/UnityEngine.UNETModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityConnectModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityWebRequestModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
DayCounterChip/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
DayCounterChip/bin/Debug/UnityEngine.VehiclesModule.dll
DayCounterChip/bin/Debug/UnityEngine.VFXModule.dll
DayCounterChip/bin/Debug/UnityEngine.VideoModule.dll
DayCounterChip/bin/Debug/UnityEngine.VRModule.dll
DayCounterChip/bin/Debug/UnityEngine.WindModule.dll
DayCounterChip/bin/Debug/UnityEngine.XRModule.dll
DayCounterChip/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DayCounterChip/obj/Debug/DayCounterChip.csproj.AssemblyReference.cache
DayCounterChip/obj/Debug/DayCounterChip.csproj.CopyComplete
DayCounterChip/obj/Debug/DayCounterChip.csproj.CoreCompileInputs.cache
DayCounterChip/obj/Debug/DayCounterChip.csproj.FileListAbsolute.txt
DayCounterChip/obj/Debug/DayCounterChip.dll
DayCounterChip/obj/Debug/DayCounterChip.pdb
DayCounterChip/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Subnautica mod/bin/Debug/0Harmony.dll
Subnautica mod/bin/Debug/0Harmony.xml
Subnautica mod/bin/Debug/Assembly-CSharp-firstpass.dll
Subnautica mod/bin/Debug/Assembly-CSharp.dll
Subnautica mod/bin/Debug/KnifeMultipiersSN.dll
Subnautica mod/bin/Debug/KnifeMultipiersSN.pdb
Subnautica mod/bin/Debug/Mono.Cecil.dll
Subnautica mod/bin/Debug/MonoMod.RuntimeDetour.dll
Subnautica mod/bin/Debug/MonoMod.RuntimeDetour.xml
Subnautica mod/bin/Debug/MonoMod.Utils.dll
Subnautica mod/bin/Debug/MonoMod.Utils.xml
Subnautica mod/bin/Debug/QModInstaller.dll
Subnautica mod/bin/Debug/QModInstaller.xml
Subnautica mod/bin/Debug/SMLHelper.dll
Subnautica mod/bin/Debug/SMLHelper.xml
Subnautica mod/bin/Debug/UnityEngine.AccessibilityModule.dll
Subnautica mod/bin/Debug/UnityEngine.AIModule.dll
Subnautica mod/bin/Debug/UnityEngine.AndroidJNIModule.dll
Subnautica mod/bin/Debug/UnityEngine.AnimationModule.dll
Subnautica mod/bin/Debug/UnityEngine.ARModule.dll
Subnautica mod/bin/Debug/UnityEngine.AssetBundleModule.dll
Subnautica mod/bin/Debug/UnityEngine.AudioModule.dll
Subnautica mod/bin/Debug/UnityEngine.ClothModule.dll
Subnautica mod/bin/Debug/UnityEngine.ClusterInputModule.dll
Subnautica mod/bin/Debug/UnityEngine.ClusterRendererModule.dll
Subnautica mod/bin/Debug/UnityEngine.CoreModule.dll
Subnautica mod/bin/Debug/UnityEngine.CrashReportingModule.dll
Subnautica mod/bin/Debug/UnityEngine.DirectorModule.dll
Subnautica mod/bin/Debug/UnityEngine.dll
Subnautica mod/bin/Debug/UnityEngine.DSPGraphModule.dll
Subnautica mod/bin/Debug/UnityEngine.GameCenterModule.dll
Subnautica mod/bin/Debug/UnityEngine.GridModule.dll
Subnautica mod/bin/Debug/UnityEngine.ImageConversionModule.dll
Subnautica mod/bin/Debug/UnityEngine.IMGUIModule.dll
Subnautica mod/bin/Debug/UnityEngine.InputLegacyModule.dll
Subnautica mod/bin/Debug/UnityEngine.InputModule.dll
Subnautica mod/bin/Debug/UnityEngine.JSONSerializeModule.dll
Subnautica mod/bin/Debug/UnityEngine.LocalizationModule.dll
Subnautica mod/bin/Debug/UnityEngine.ParticleSystemModule.dll
Subnautica mod/bin/Debug/UnityEngine.PerformanceReportingModule.dll
Subnautica mod/bin/Debug/UnityEngine.Physics2DModule.dll
Subnautica mod/bin/Debug/UnityEngine.PhysicsModule.dll
Subnautica mod/bin/Debug/UnityEngine.ScreenCaptureModule.dll
Subnautica mod/bin/Debug/UnityEngine.SharedInternalsModule.dll
Subnautica mod/bin/Debug/UnityEngine.SpriteMaskModule.dll
Subnautica mod/bin/Debug/UnityEngine.SpriteShapeModule.dll
Subnautica mod/bin/Debug/UnityEngine.StreamingModule.dll
Subnautica mod/bin/Debug/UnityEngine.TerrainModule.dll
Subnautica mod/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
Subnautica mod/bin/Debug/UnityEngine.TextCoreModule.dll
Subnautica mod/bin/Debug/UnityEngine.TextRenderingModule.dll
Subnautica mod/bin/Debug/UnityEngine.TilemapModule.dll
Subnautica mod/bin/Debug/UnityEngine.UI.dll
Subnautica mod/bin/Debug/UnityEngine.UIElementsModule.dll
Subnautica mod/bin/Debug/UnityEngine.UIModule.dll
Subnautica mod/bin/Debug/UnityEngine.UNETModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityConnectModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityWebRequestModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
Subnautica mod/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
Subnautica mod/bin/Debug/UnityEngine.VehiclesModule.dll
Subnautica mod/bin/Debug/UnityEngine.VFXModule.dll
Subnautica mod/bin/Debug/UnityEngine.VideoModule.dll
Subnautica mod/bin/Debug/UnityEngine.VRModule.dll
Subnautica mod/bin/Debug/UnityEngine.WindModule.dll
Subnautica mod/bin/Debug/UnityEngine.XRModule.dll
Subnautica mod/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Subnautica mod/obj/Debug/KnifeMultipiersSN.csproj.AssemblyReference.cache
Subnautica mod/obj/Debug/KnifeMultipiersSN.csproj.CopyComplete
Subnautica mod/obj/Debug/KnifeMultipiersSN.csproj.CoreCompileInputs.cache
Subnautica mod/obj/Debug/KnifeMultipiersSN.csproj.FileListAbsolute.txt
Subnautica mod/obj/Debug/KnifeMultipiersSN.dll
Subnautica mod/obj/Debug/KnifeMultipiersSN.pdb
EscapePodChanges/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EscapePodChanges/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EscapePodChanges/obj/Debug/EscapePodChanges.csproj.AssemblyReference.cache
EscapePodChanges/Properties/AssemblyInfo.cs
EscapePodSpawnChanges/bin/Debug/0Harmony.dll
EscapePodSpawnChanges/bin/Debug/0Harmony.xml
EscapePodSpawnChanges/bin/Debug/Assembly-CSharp-firstpass.dll
EscapePodSpawnChanges/bin/Debug/Assembly-CSharp.dll
EscapePodSpawnChanges/bin/Debug/EscapePodSpawnChanges.dll
EscapePodSpawnChanges/bin/Debug/EscapePodSpawnChanges.pdb
EscapePodSpawnChanges/bin/Debug/Mono.Cecil.dll
EscapePodSpawnChanges/bin/Debug/MonoMod.RuntimeDetour.dll
EscapePodSpawnChanges/bin/Debug/MonoMod.RuntimeDetour.xml
EscapePodSpawnChanges/bin/Debug/MonoMod.Utils.dll
EscapePodSpawnChanges/bin/Debug/MonoMod.Utils.xml
EscapePodSpawnChanges/bin/Debug/QModInstaller.dll
EscapePodSpawnChanges/bin/Debug/QModInstaller.xml
EscapePodSpawnChanges/bin/Debug/SMLHelper.dll
EscapePodSpawnChanges/bin/Debug/SMLHelper.xml
EscapePodSpawnChanges/bin/Debug/UnityEngine.AccessibilityModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.AIModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.AndroidJNIModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.AnimationModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ARModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.AssetBundleModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.AudioModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ClothModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ClusterInputModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ClusterRendererModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.CoreModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.CrashReportingModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.DirectorModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.DSPGraphModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.GameCenterModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.GridModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ImageConversionModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.IMGUIModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.InputLegacyModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.InputModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.JSONSerializeModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.LocalizationModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ParticleSystemModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.PerformanceReportingModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.Physics2DModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.PhysicsModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.ScreenCaptureModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.SharedInternalsModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.SpriteMaskModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.SpriteShapeModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.StreamingModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.TerrainModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.TextCoreModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.TextRenderingModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.TilemapModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UI.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UIElementsModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UIModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UNETModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityConnectModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityWebRequestModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.VehiclesModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.VFXModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.VideoModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.VRModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.WindModule.dll
EscapePodSpawnChanges/bin/Debug/UnityEngine.XRModule.dll
EscapePodSpawnChanges/Info.cs
EscapePodSpawnChanges/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EscapePodSpawnChanges/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EscapePodSpawnChanges/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.csproj.AssemblyReference.cache
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.csproj.CopyComplete
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.csproj.CoreCompileInputs.cache
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.csproj.FileListAbsolute.txt
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.dll
EscapePodSpawnChanges/obj/Debug/EscapePodSpawnChanges.pdb
